* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Libre Franklin", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.logo {
    width: 100px;
}

h1 {
    font-size: 2rem;
    color: gray;
    font-weight: 300;
}

h1 span {
    font-weight: 700;
    color: black;
}

.suscribe {
    font-size: 1rem;
    color: gray;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.input-email {
    width: 100%;
}

input {
    width: 100%;
    padding: 12px 20px;
    border-radius: 30px;
    border: 1px solid gray;
    font-size: 1rem;
}

input:focus {
    outline: 2px solid darkcyan;
}

.error-message {
    display: none;
    color: red;
}

.btn-noti {
    padding: 12px;
    background: darkcyan;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    width: 100%;
}

.btn-noti:hover {
    background: #c2d3ff;
    cursor: pointer;
}

.success-message {
  display: none;
  color: #2ecc71;
}

.dashboard {
    width: 100%;
}

.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.btn-facebook,
.btn-twitter,
.btn-insta {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: darkcyan;
}

.btn-facebook:hover,
.btn-twitter:hover,
.btn-insta:hover {
    background: darkcyan;
    color: white;
}

footer {
    font-size: 1rem;
    color: gray;
}

@media (min-width: 600px) {

    main {
        max-width: 1000px;
    }

    .form {
        flex-direction: row;
        align-items: center;
    }

    .btn-noti {
        width: auto;
        padding: 12px 30px;
        flex-shrink: 0;
    }

}